.container-fluid
  = form_tag events_path, class: 'form-horizontal', method: 'GET' do
    = hidden_field_tag :stream, params[:stream]
    .row
      .col-sm-9
        = text_field_tag :hql, params[:hql], placeholder: "e.g host = 'example.org' OR $time BETWEEN('2015-07-01', '2015-07-31')", class: 'form-control'
      .col-sm-1
        = text_field_tag :offset, params[:offset], placeholder: 'Offset', class: 'form-control text-center'
      .col-sm-1
        = text_field_tag :limit, params[:limit], placeholder: 'Limit', class: 'form-control text-center'
      .col-sm-1
        = button_tag type: 'submit', class: 'btn btn-primary', name: nil do
          Query

%br
.container-fluid
  - @events.each do |event|
    %pre
      %code= event.data
