.container-fluid
  = form_tag events_path, class: 'form-horizontal', method: 'GET' do
    = hidden_field_tag :stream, params[:stream]
    .row
      .col-sm-9
        %div{class: "#{(@hql_query.valid? ? 'has-success' : 'has-error') if @hql_query}"}
          = text_field_tag :hql, params[:hql], placeholder: "e.g host = 'example.org' OR $time BETWEEN('2015-07-01', '2015-07-31')", class: 'form-control'
      .col-sm-1
        = text_field_tag :offset, params[:offset], placeholder: 'Offset', class: 'form-control text-center'
      .col-sm-1
        = text_field_tag :limit, params[:limit], placeholder: 'Limit', class: 'form-control text-center'
      .col-sm-1
        = button_tag type: 'submit', class: 'btn btn-primary', name: nil do
          Query

%br
.container-fluid
  %table.table.table-striped
    %thead
      %tr
        - @columns.each do |column|
          %th.text-center
            = column
        %th{width: 150}
          &nbsp;
    %tbody
      - @events.each do |event|
        %tr
          - @columns.each do |column|
            %td.text-center
              - if event.data[column]
                = event.data[column]
              - else
                %span.text-muted
                  \-
          %td.text-right
            %small.text-muted
              = event.created_at.strftime('%Y-%m-%d %H:%M')
