%table.table
  %thead
    %tr
      %th Query
      %th.text-center{width: 150} Results
      %th.text-center{width: 150} Time (ms)
      %th.text-center{width: 200} Last Run
  %tbody
    - @queries.each do |query|
      %tr
        %td
          = link_to events_path(hql: query.raw) do
            = query.raw
        - if query.query_results.last.present?
          %td.text-center
            = number_with_delimiter query.query_results.last.count
          %td.text-center
            = number_with_precision query.query_results.last.elapsed / 1000.0, delimiter: ',', precision: 2
          %td.text-center
            = time_ago_in_words query.query_results.last.created_at
            ago
        - else
          %td.text-center.text-muted{colspan: 3}
            no data
