.navbar.navbar-fixed-top.navbar-inverse
  .container-fluid
    = link_to root_path, class: 'navbar-brand' do
      Hoard
    %ul.nav.navbar-nav
      = nav_link streams_path do
        %span.fa.fa-database
        Streams
        (#{number_with_delimiter Stream.count})
      = nav_link events_path do
        %span.fa.fa-list
        Events
        (#{number_with_delimiter Event.count})
