.navbar.navbar-fixed-top.navbar-inverse
  .container-fluid
    = link_to root_path, class: 'navbar-brand' do
      Hoard
    %ul.nav.navbar-nav
      = nav_link streams_path do
        %span.fa.fa-fw.fa-database
        Streams
        (#{number_with_delimiter Stream.count})
      = nav_link events_path do
        %span.fa.fa-fw.fa-list
        Events
        (#{number_with_delimiter Event.count})
      = nav_link reports_path do
        %span.fa.fa-fw.fa-area-chart
        Reports
        (#{number_with_delimiter Report.count})
    %ul.nav.navbar-nav.navbar-right
      = nav_link queries_path do
        %span.fa.fa-fw.fa-history
      = nav_link system_path do
        %span.fa.fa-fw.fa-info
      = nav_link settings_path do
        %span.fa.fa-fw.fa-cogs
      = nav_link logout_path do
        %span.fa.fa-fw.fa-sign-out
