.navbar.navbar-fixed-top.navbar-inverse
  .container-fluid
    = link_to root_path, class: 'navbar-brand' do
      Hoard
    %ul.nav.navbar-nav
      %li
        = link_to streams_path do
          Streams
          (#{number_with_delimiter Stream.count})
      %li
        = link_to events_path do
          Events
          (#{number_with_delimiter Event.count})
