.container-fluid

  - if @reports.blank?
    .text-center
      %br
      %br
      %h4.text-info No reports have been created
      = link_to new_report_path do
        Create one now

  - else
    %table.table
      %thead
        %tr
          %th.text-left Name
          %th.text-center{width: 200} Last Run
          %th.text-center{width: 100} Total Runs
      %tbody
        - @reports.each do |report|
          %tr
            %td
              = link_to report_path(report) do
                = report.name
              %br
              %code
                { #{report.filter.present? ? report.filter : "<span class='text-muted'>no filter</span>".html_safe } }
              &nbsp;
              %code
                GROUP(#{report.group})
              &nbsp;
              %code
                #{report.function}
            %td.text-center
              - if report.report_results.last.nil?
                %span.text-muted Never
              - else
                = time_ago_in_words report.report_results.last.created_at
                ago
            %td.text-center
              = report.report_results.count
