.container-fluid
  = form_tag reports_path do
    = fields_for :report do |f|
      .row
        .col-sm-6.col-sm-offset-3

          .row
            .col-sm-7
              .input-group
                %span.input-group-addon Name
                = f.text_field :name, class: 'form-control'
            .col-sm-5
              .input-group
                %span.input-group-addon Stream
                = f.select :stream_id, options_from_collection_for_select(Stream.all, 'id', 'name'), {}, class: 'form-control'

          %br
          .input-group
            %span.input-group-addon Filter
            = f.text_field :filter, class: 'form-control', placeholder: 'e.g. host = example.com'

          %br
          .row
            .col-sm-6
              .input-group
                %span.input-group-addon Group
                = f.text_field :group, class: 'form-control', placeholder: 'e.g. agent'
            .col-sm-6
              .input-group
                %span.input-group-addon Function
                = f.select :stream_id, ['count(*)'], {}, class: 'form-control'

          %br
          %br
          .text-center
            = button_tag type: 'submit', class: 'btn btn-primary' do
              Create Report
